.products {
  background-color: var(--primary-c);
  padding: 20px;

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
    color: #ffffff;
    font-size: 2em;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  li {
    flex: 0 0 calc(25% - 20px);
    margin: 10px;
    padding: 15px;
    background-color: var(--red-c);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    border: rgb(81, 81, 81) 1px solid;
    display: flex;
    align-items: center;
    flex-direction: column; 

    .price{
      color: green;
    }
    &:hover {
      transform: scale(1.05);
    }
  }

  img {
    max-width: 60%;
    height: 50%;
    border-radius: 10px; 

  }

  p {
    margin: 10px 0;
    color: var(--orange-c);
    
  }

  a {
    background-color: var(--primary-c);
    color: var(--orange-c);
    border: solid rgb(83, 83, 83) 1px;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: auto;
    text-decoration: none;
    &:hover {
      background-color: #1f5b93; 
    }
  }
}