<div class="products">
  <div class="filter">
    <div class="search container">
      <input type="text" placeholder="Search products..." [(ngModel)]="searchQuery" (input)="searchProducts()">
    </div>
    <h1>Product List <i class="fa-solid fa-shop"></i></h1>

    <div class="categories container">
      <select [(ngModel)]="selectedCategory" (change)="filterByCategory($event.target)">
        <option value="">All Categories</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
    </div>
  </div>
  <div class="container">
    <ul>
      <li *ngFor="let product of filteredProducts">
        <img [src]="product.image" alt="{{ product.title }}" />
        <p>{{ product.title }}</p>
        <div class="bottom">
          <p class="price">{{ product.price }}$</p>
          <div class="action">
            <a [routerLink]="['/product', product.id]">See Details</a>
            <button>Buy <i class="fa-solid fa-cart-shopping"></i></button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>