.products {
  background-color: var(--primary-c);
  padding: 20px;
  min-height: 100vh;
  .filter {
    display: flex;
    .search {
      margin-bottom: 20px;
    }

    .search input[type="text"] {
      padding: 10px;
      font-size: 16px;
      border: var(--orange-c) 1px solid;
      border-radius: 5px;
      background-color: var(--red-c);
      color: var(--orange-c);
      transition: border-color 0.3s ease;
    }

    .search input[type="text"]:focus {
      border-color: var(--primary-c);
    }

    .categories select {
      padding: 10px;
      font-size: 16px;
      border: var(--orange-c) 1px solid;
      border-radius: 5px;
      background-color: var(--red-c);
      color: var(--orange-c);
      transition: border-color 0.3s ease;
    }

    .categories select option {
      color: var(--orange-c);
      background-color: var(--red-c);
    }

    .categories select option:hover {
      background-color: var(--orange-c);
      color: #fff;
    }
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
    color: #ffffff;
    font-size: 2em;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    flex: 0 0 calc(25% - 20px);
    margin: 10px;
    padding: 15px;
    background-color: var(--red-c);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    border: rgb(81, 81, 81) 1px solid;
    display: flex;
    align-items: center;
    flex-direction: column;

    .price {
      color: green;
    }
    &:hover {
      transform: scale(1.05);
    }
    .bottom{
      margin-top: auto;
    }
  }

  img {
    max-width: 60%;
    height: 50%;
    border-radius: 10px;
  }

  p {
    margin: 10px 0;
    color: var(--orange-c);
  }

  .action {
    margin-top: auto;
    display: flex;
    a {
      background-color: var(--primary-c);
      color: var(--orange-c);
      border: solid rgb(83, 83, 83) 1px;
      padding: 8px 16px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      text-decoration: none;
      margin: 2px;
      &:hover {
        background-color: #1f5b93;
      }
    }
    button {
      background-color: var(--primary-c);
      color: green;
      border: solid green 1px;
      padding: 8px 16px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      text-decoration: none;
      margin: 2px;
      font-weight: 600;
      &:hover {
        background-color: green;
        color: black;
      }
    }
  }
}
