<nav>
  <div class="container">
    <div class="home">
      <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
        Home <i class="fa-solid fa-house-user"></i>
      </a>
    </div>
    <ul class="middle-ul">
      <li>
        <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">
          Register <i class="fa-regular fa-address-card"></i>
        </a>
      </li>
      <li>
        <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
          Login <i class="fa-solid fa-right-to-bracket"></i>
        </a>
      </li>

      <li>
        <a routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page">
          Products <i class="fa-brands fa-cotton-bureau"></i>
        </a>
      </li>
      <li>
        <a  routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">Profile <i class="fa-regular fa-user"></i></a>
      </li>
    </ul>
  </div>
</nav>