<div class="home" >
    <div class="container" >
        <div class="description">
            <div class="desc-left">
                <h1>Bright your daily life with our products!</h1>
                <p>We have been providing our community with high-quality product</p>
                <button>Get Started</button>
            </div>
            <img src="../../../assets/images/shop.png">
        </div>
        <div class="category-header"><h1>You can find the most popular categories!</h1></div>
        <div class="categories">
            <div><p>women's clothing</p><img src="./../../../assets/images/clothing.png" ></div>
            <div><p>jewelery</p><img src="./../../../assets/images/jewelery.png" ></div>
            <div><p>electronics</p><img src="./../../../assets/images/electronics.png" ></div>
            <div><p>men's clothing</p><img src="./../../../assets/images/clothing-2.png" ></div>
        </div>
    </div>
</div>